/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  background-color: black;
  color: white;
  display: inline-flex;
  align-items: center;
}

h1 {
  width: 100%;
  position: relative;
  left: 20px;
  color: rgb(42, 171, 226);
}

nav {
  width: 100%;
  position: relative;
  justify-content: flex-end;
  flex-direction: row;
  display: inline-flex;
}

.nav {
  width: 140px;
  justify-content: center;
  align-content: center;
  position: relative;
  left: 50px;
}

main {
  width: 50%;
  margin-left: 200px;
  position: relative;
  top: 25px;
}

.view-larger {
  color:rgb(42, 171, 226);
  font-size: medium;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  flex-direction: row;
  display: inline-flex;
  position: relative;
  left: 700px;
}

.placeholder {
  width: 200px;
  height: 150px;
  padding: 25px;
  justify-content: space-evenly;
}

aside {
  position: absolute;
  left: 1200px;
  bottom: 375px;
  display: block;
}

.box1 {
  padding-top: 20px;
  margin-bottom: 50px;
  width: 225px;
  height: 280px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 100px grey;
  -moz-box-shadow: 0 0 100px grey;
  box-shadow: 0 0 100px grey;
}

.box2 {
  width: 225px;
  height: 375px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 100px grey;
  -moz-box-shadow: 0 0 100px grey;
  box-shadow: 0 0 100px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

li {
  font-size: small;
}

.profile {
  width: 175px;
  margin-bottom: 20px;
  margin-left: 25px;
}

.myname {
  font-size: larger;
  font-weight: bolder;
  position: relative;
  left: 80px;
}

footer {
  position: relative;
  bottom: 0%;
  padding-left: 25px;
  margin-top: 20px;
  width: 100%;
  height: 5vh;
  background-color: rgb(42, 171, 226);
  color: black;
  display: inline-flex;
  align-items: center;
}

.footer {
  width: 85%;
  justify-content: flex-end;
  flex-direction: row;
  display: inline-flex;
}

.qmark {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: inline-flex;
  position: relative;
  left: 50px;
}